<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Your report is ready.</h1>
    <b>Interval:</b> {{ dateBegin }} - {{ dateEnd }}<br>
    <b>Name:</b> {{ name }}
  </body>
</html>
