<!DOCTYPE html>
<html>
  <head>
    <title>Your report is ready!</title>
  </head>
  <body>
    <h2>Finally, according to our magic your report is ready!</h2>
    <b>Report name</b>: {{ reportName }}<br>
    <b>Interval:</b> {{ dateBegin }} - {{ dateEnd }}<br>
    <b>User name:</b> {{ name }}
  </body>
</html>
